<div ng-class="{'form-group': dataTypeIdMap[field.data_type_id].name !== 'boolean', 'checkbox': dataTypeIdMap[field.data_type_id].name === 'boolean'}">
	<!-- boolean -->
	<label ng-if="dataTypeIdMap[field.data_type_id].name === 'boolean'">
		<input type="checkbox"
				ng-model="item[field.name]"/>{{ field.display_name }}
	</label>
	<!-- date -->
	<label ng-if="dataTypeIdMap[field.data_type_id].name === 'date'">
		{{ field.display_name }}
	</label>
	<input ng-if="dataTypeIdMap[field.data_type_id].name === 'date'"
		type="date"
		class="form-control"
		placeholder="{{ field.display_name }}"
		ng-model="item[field.name]"/>
	<!-- datetime -->
	<label ng-if="dataTypeIdMap[field.data_type_id].name === 'datetime'">
		{{ field.display_name }}
	</label>
	<input ng-if="dataTypeIdMap[field.data_type_id].name === 'datetime'"
		type="datetime-local"
		class="form-control"
		placeholder="{{ field.display_name }}"
		ng-model="item[field.name]"/>
	<!-- field -->
	<label ng-if="dataTypeIdMap[field.data_type_id].name === 'field'">
		{{ field.display_name }}
	</label>
	<field-input ng-if="dataTypeIdMap[field.data_type_id].name === 'field'"
			name="Field"
			plural-name="Fields"
			data="item[field.name]"
			default-fields="defaultFields"
			default-data-types="defaultDataTypes"
			user-data-types="userDataTypes"/>
	<!-- number -->
	<label ng-if="dataTypeIdMap[field.data_type_id].name === 'number'">
		{{ field.display_name }}
	</label>
	<input ng-if="dataTypeIdMap[field.data_type_id].name === 'number'"
		type="number"
		class="form-control"
		placeholder="{{ field.display_name }}"
		ng-model="item[field.name]"/>
	<!-- string -->
	<label ng-if="dataTypeIdMap[field.data_type_id].name === 'string'">
		{{ field.display_name }}
	</label>
	<input ng-if="dataTypeIdMap[field.data_type_id].name === 'string'"
		type="text"
		class="form-control"
		placeholder="{{ field.display_name }}"
		ng-model="item[field.name]"/>
	<!-- data_type -->
	<label ng-if="dataTypeIdMap[field.data_type_id].name === 'data_type'">
		{{ field.display_name }}
	</label>
	<datatype-input
		ng-if="dataTypeIdMap[field.data_type_id].name === 'data_type'"
		datatypes="allDataTypes"
		selected-data-type-id="item[field.name]"/>
	<!-- dropdown -->
	<label ng-if="dataTypeIdMap[field.data_type_id].name === 'dropdown'">
		{{ field.display_name }}
	</label>
	<dropdown-input
		ng-if="dataTypeIdMap[field.data_type_id].name === 'dropdown'"
		dropdown-data="item[field.name]"/>
</div>
