<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Tracker</a>
		</div>
	</div><!-- /.container-fluid -->
</nav>
<div ng-if="route != '/login'"
		class="container margin-top-50px">
	<div class="row">
		<div class="col-lg-12">
			<button type="button"
					class="btn btn-link padding-bottom-0px padding-left-0px padding-right-0px"
					ng-click="goToHome()">
				> Home
			</button>
			<button ng-if="category"
					type="button"
					class="btn btn-link padding-bottom-0px padding-left-0px padding-right-0px"
					ng-click="goToCategory(category.id)">
				> {{ category.name }}
			</button>
		</div>
	</div>
</div>
