<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ng-click="goToHome()">Tracker</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="cursor-pointer"><a ng-click="logout()">Log Out</a></li>
			</ul>
		</div>
	</div><!-- /.container-fluid -->
</nav>
<div ng-if="route != '/login'"
		class="container padding-top-50px">
	<div class="row">
		<div class="col-lg-12">
			<button type="button"
					class="btn btn-link padding-bottom-0px padding-left-0px padding-right-0px"
					ng-click="goToHome()">
				> Home
			</button>
			<button ng-if="category"
					type="button"
					class="btn btn-link padding-bottom-0px padding-left-0px padding-right-0px"
					ng-click="goToCategory(category.id)">
				> {{ category.name }}
			</button>
		</div>
	</div>
</div>
