<navbar route="route"></navbar>

<div class="container margin-top-50px">
	<div class="row">
		<div class="col-lg-12">
			<h1>Categories</h1>
			<hr>
		</div>
		<div class="col-lg-12">
			<list-or-grid-selector show-list="showList" on-view-option-change="selectViewOption"/>
		</div>
		<div class="col-lg-12">
			<list data="categories" datum-definition="categoryDefinition" ng-show="showList"/>
			<grid data="categories" datum-definition="categoryDefinition" ng-show="!showList"/>
		</div>
		</div>
	</div>
</div>
