<navbar route="route"></navbar>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1>Categories</h1>
			<hr>
			<list-grid name="Category"
						plural-name="Categories"
						data="categories"
						datum-definition="categoryDefinition"
						order-by="categoryOrderByField"
						view-datum="viewCategory"
						add-datum="addCategory"
						edit-datum="editCategory"
						delete-datum="deleteCategory"
						default-fields="defaultFields"
						default-data-types="defaultDataTypes"
						allow-grid-view="true"/>
		</div>
	</div>
</div>
