<div class="background-color-d3d3d3 height-100pc">
	<div class="container">
		<div class="row main">
			<div class="panel-heading">
			   <div class="panel-title text-center">
					<h1 class="title">Tracker</h1>
					<hr />
				</div>
			</div>
			<div class="main-login main-center">
				<form class="form-horizontal"
						ng-show="isLogin">

					<div class="form-group">
						<label class="cols-sm-2 control-label">Email</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" ng-model="form.login.email" placeholder="Email"/>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="cols-sm-2 control-label">Password</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								<input type="password" class="form-control" ng-model="form.login.password" placeholder="Password"/>
							</div>
						</div>
					</div>

					<div class="form-group ">
						<button type="button" class="btn btn-primary btn-lg btn-block login-button" ng-click="login()">Login</button>
					</div>
					<div class="login-register">
						<a ng-click="showRegisterForm()" class="cursor-pointer">Register</a>
					 </div>
				</form>
				<form class="form-horizontal"
						ng-show="!isLogin">

					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">First Name</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" ng-model="form.register.firstName"  placeholder="First Name"/>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="cols-sm-2 control-label">Last Name</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" ng-model="form.register.lastName" placeholder="Last Name"/>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="cols-sm-2 control-label">Email</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" ng-model="form.register.email" placeholder="Email"/>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="cols-sm-2 control-label">Email Confirmation</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" ng-model="form.register.emailConfirmation" placeholder="Email Confirmation"/>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="cols-sm-2 control-label">Password</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								<input type="password" class="form-control" ng-model="form.register.password" placeholder="Password"/>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="cols-sm-2 control-label">Password Confirmation</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								<input type="password" class="form-control" name="form.register.passwordConfirmation" placeholder="Password Confirmation"/>
							</div>
						</div>
					</div>

					<div class="form-group ">
						<button type="button" class="btn btn-primary btn-lg btn-block login-button" ng-click="register()">Register</button>
					</div>
					<div class="login-register">
						<a ng-click="showLoginForm()" class="cursor-pointer">Login</a>
					 </div>
				</form>
			</div>
		</div>
	</div>
</div>
