.cursor-pointer {
	cursor: pointer;
}

.margin-bottom-0px {
	margin-bottom: 0px !important;
}

.margin-left-20px {
	margin-left: 20px;
}

.margin-top-20px {
	margin-top: 20px;
}

.margin-top-50px {
	margin-top: 50px;
}

.grid-box {
	-moz-box-shadow: 0 0 2px black;
	-webkit-box-shadow: 0 0 2px black;
	box-shadow: 0 0 2px black;
}
