<div class="modal-header">
	<h3>
		{{ modalOptions.headerText }}
	</h3>
</div>
<div class="modal-body">
	<form>
		<!-- <div ng-repeat="field in modalOptions.fields | orderBy:'order' | filter:{editable:true} | notInArray:modalOptions.defaultFieldNames:'name' track by field.id" -->
		<div ng-repeat="field in modalOptions.fields | orderBy:'order' | filter:{editable:true} track by field.id"
				ng-class="{'form-group': modalOptions.dataTypeIdMap[field.data_type_id].name !== 'boolean', 'checkbox': modalOptions.dataTypeIdMap[field.data_type_id].name === 'boolean'}">
			<!-- boolean -->
			<label ng-if="modalOptions.dataTypeIdMap[field.data_type_id].name === 'boolean'">
				<input type="checkbox"
						ng-model="modalOptions.item[field.name]"/>{{ field.display_name }}
			</label>
			<!-- date -->
			<label ng-if="modalOptions.dataTypeIdMap[field.data_type_id].name === 'date'">
				{{ field.display_name }}
			</label>
			<input ng-if="modalOptions.dataTypeIdMap[field.data_type_id].name === 'date'"
					type="date"
					class="form-control"
					placeholder="{{ field.display_name }}"
					ng-model="modalOptions.item[field.name]"/>
			<!-- datetime -->
			<label ng-if="modalOptions.dataTypeIdMap[field.data_type_id].name === 'datetime'">
				{{ field.display_name }}
			</label>
			<input ng-if="modalOptions.dataTypeIdMap[field.data_type_id].name === 'datetime'"
					type="datetime-local"
					class="form-control"
					placeholder="{{ field.display_name }}"
					ng-model="modalOptions.item[field.name]"/>
			<!-- field -->
			<field-input ng-if="modalOptions.dataTypeIdMap[field.data_type_id].name === 'field'"
						name="Field"
						plural-name="Fields"
						data="modalOptions.item[field.name]"
						default-fields="modalOptions.defaultFields"
						default-data-types="modalOptions.defaultDataTypes"
						user-data-types="modalOptions.userDataTypes"/>
			<!-- number -->
			<label ng-if="modalOptions.dataTypeIdMap[field.data_type_id].name === 'number'">
				{{ field.display_name }}
			</label>
			<input ng-if="modalOptions.dataTypeIdMap[field.data_type_id].name === 'number'"
					type="number"
					class="form-control"
					placeholder="{{ field.display_name }}"
					ng-model="modalOptions.item[field.name]"/>
			<!-- string -->
			<label ng-if="modalOptions.dataTypeIdMap[field.data_type_id].name === 'string'">
				{{ field.display_name }}
			</label>
			<input ng-if="modalOptions.dataTypeIdMap[field.data_type_id].name === 'string'"
					type="text"
					class="form-control"
					placeholder="{{ field.display_name }}"
					ng-model="modalOptions.item[field.name]"/>
			<!-- data_type -->
			<datatype-input
					ng-if="modalOptions.dataTypeIdMap[field.data_type_id].name === 'data_type'"
					data="modalOptions.dataTypes"
					selected-datum="modalOptions.item[field.name]"/>
			<!-- user data type -->
			<!-- <label ng-if="modalOptions.defaultDataTypes.indexOf(field.data_type) === -1">
				{{ field.display_name }}
			</label>
			<select ng-if="modalOptions.defaultDataTypes.indexOf(field.data_type) === -1"
					class="form-control"
					name="field.name"
					ng-model="modalOptions.item[field.name]"
					ng-options="value for value in modalOptions.userDataTypeMap[field.data_type].values">
			</select> -->
			<!-- TODO: validation -->
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button"
			class="btn btn-secondary"
			data-ng-click="modalOptions.close()">
		{{ modalOptions.closeButtonText }}
	</button>
	<button class="btn btn-success"
			data-ng-click="modalOptions.ok(modalOptions.item)">
		{{ modalOptions.actionButtonText }}
	</button>
</div>
